# Created by .ignore support plugin (hsz.mobi)
.gradle/
MisakiToolsMod.ipr
MisakiToolsMod.iws
com.github.misakikoo.MisakiToolsMod.api.iml
com.github.misakikoo.MisakiToolsMod.iml
com.github.misakikoo.MisakiToolsMod.main.iml
com.github.misakikoo.MisakiToolsMod.test.iml
run/

